# Node
node_modules/
dist/
.env
.history
uploads


# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# PDF boletos gerados
boletos_pdf/
